@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 47% 11%;
    --foreground: 0 0% 98%;
    --card: 222 47% 11%;
    --card-foreground: 0 0% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 0 0% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 217 33% 17%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 224.3 76.3% 48%;
    --radius: 0.5rem;
    --chart-1: 160 84% 39%;
    --chart-2: 182 90% 35%;
    --chart-3: 230 92% 65%;
    --chart-4: 256 91% 65%;
    --chart-5: 325 80% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}